
  .welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

 button{
    background-color: green;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-decoration: none;
    margin: 8px 30px;
    box-shadow:  0 0 10px rgba(255,255,255,0.2);
    cursor: pointer;


  }
  button:hover{
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
  transition: box-shadow 0.3s ease;
  }
  .about{
    padding: 0px 150px 0px 150px;;
    margin:100px;
    display: block;
  }
  .about ul{
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    margin-left: 50px;
    
 
  }
  .about ul li a{
    margin-left: -49px;
    width:175px;
    justify-content: center;
    color: black;
    
   
  }
  .about ul li a:hover{
    background-color: white;
    color: black;
    align-items: center;
    transition: ease-in-out;
    line-height: 0px;
    height: 10px;
    text-decoration-line: underline;

  }
  .divider {
    border: none;
    height: 2px;
    background-color: #ccc; /* or use #444 for dark mode */
    margin: 20px 0;
    width: 75%;
  }
  .divider2 {
    border: none;
    height: 2px;
    background-color: #ccc; /* or use #444 for dark mode */
    margin-top: 70px;
    width: 75%;
  }
  